## Decision Tree

In [2]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [4]:
importances = clf.feature_importances_
print importances

[ 0.  1.]

## Task

Инструкция по выполнению

- Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
- Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
- Обратите внимание, что признак Sex имеет строковые значения.
- Выделите целевую переменную — она записана в столбце Survived.
- В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.
- Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.
- Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).

In [65]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
res = data[['Pclass','Fare','Age','Sex','Survived']]
result = res[res.Age.notnull()]
result

             Pclass      Fare  Age     Sex  Survived
PassengerId
1                 3    7.2500   22    male         0
2                 1   71.2833   38  female         1
3                 3    7.9250   26  female         1
4                 1   53.1000   35  female         1
5                 3    8.0500   35    male         0
7                 1   51.8625   54    male         0
8                 3   21.0750    2    male         0
9                 3   11.1333   27  female         1
10                2   30.0708   14  female         1
11                3   16.7000    4  female         1
12                1   26.5500   58  female         1
13                3    8.0500   20    male         0
14                3   31.2750   39    male         0
15                3    7.8542   14  female         0
16                2   16.0000   55  female         1
17                3   29.1250    2    male         0
19                3   18.0000   31  female         0
21                2   26.0000   35    male         0
22                2   13.0000   34    male         1
23                3    8.0292   15  female         1
24                1   35.5000   28    male         1
25                3   21.0750    8  female         0
26                3   31.3875   38  female         1
28                1  263.0000   19    male         0
31                1   27.7208   40    male         0
34                2   10.5000   66    male         0
35                1   82.1708   28    male         0
36                1   52.0000   42    male         0
38                3    8.0500   21    male         0
39                3   18.0000   18  female         0
...             ...       ...  ...     ...       ...
857               1  164.8667   45  female         1
858               1   26.5500   51    male         1
859               3   19.2583   24  female         1
861               3   14.1083   41    male         0
862               2   11.5000   21    male         0
863               1   25.9292   48  female         1
865               2   13.0000   24    male         0
866               2   13.0000   42  female         1
867               2   13.8583   27  female         1
868               1   50.4958   31    male         0
870               3   11.1333    4    male         1
871               3    7.8958   26    male         0
872               1   52.5542   47  female         1
873               1    5.0000   33    male         0
874               3    9.0000   47    male         0
875               2   24.0000   28  female         1
876               3    7.2250   15  female         1
877               3    9.8458   20    male         0
878               3    7.8958   19    male         0
880               1   83.1583   56  female         1
881               2   26.0000   25  female         1
882               3    7.8958   33    male         0
883               3   10.5167   22  female         0
884               2   10.5000   28    male         0
885               3    7.0500   25    male         0
886               3   29.1250   39  female         0
887               2   13.0000   27    male         0
888               1   30.0000   19  female         1
890               1   30.0000   26    male         1
891               3    7.7500   32    male         0

[714 rows x 5 columns]

In [66]:
y = result['Survived']
y.head()
y.value_counts()

0    424
1    290
Name: Survived, dtype: int64

В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [92]:
X = result[['Pclass','Fare','Age','Sex']]
X

             Pclass      Fare  Age     Sex
PassengerId
1                 3    7.2500   22    male
2                 1   71.2833   38  female
3                 3    7.9250   26  female
4                 1   53.1000   35  female
5                 3    8.0500   35    male
7                 1   51.8625   54    male
8                 3   21.0750    2    male
9                 3   11.1333   27  female
10                2   30.0708   14  female
11                3   16.7000    4  female
12                1   26.5500   58  female
13                3    8.0500   20    male
14                3   31.2750   39    male
15                3    7.8542   14  female
16                2   16.0000   55  female
17                3   29.1250    2    male
19                3   18.0000   31  female
21                2   26.0000   35    male
22                2   13.0000   34    male
23                3    8.0292   15  female
24                1   35.5000   28    male
25                3   21.0750    8  female
26                3   31.3875   38  female
28                1  263.0000   19    male
31                1   27.7208   40    male
34                2   10.5000   66    male
35                1   82.1708   28    male
36                1   52.0000   42    male
38                3    8.0500   21    male
39                3   18.0000   18  female
...             ...       ...  ...     ...
857               1  164.8667   45  female
858               1   26.5500   51    male
859               3   19.2583   24  female
861               3   14.1083   41    male
862               2   11.5000   21    male
863               1   25.9292   48  female
865               2   13.0000   24    male
866               2   13.0000   42  female
867               2   13.8583   27  female
868               1   50.4958   31    male
870               3   11.1333    4    male
871               3    7.8958   26    male
872               1   52.5542   47  female
873               1    5.0000   33    male
874               3    9.0000   47    male
875               2   24.0000   28  female
876               3    7.2250   15  female
877               3    9.8458   20    male
878               3    7.8958   19    male
880               1   83.1583   56  female
881               2   26.0000   25  female
882               3    7.8958   33    male
883               3   10.5167   22  female
884               2   10.5000   28    male
885               3    7.0500   25    male
886               3   29.1250   39  female
887               2   13.0000   27    male
888               1   30.0000   19  female
890               1   30.0000   26    male
891               3    7.7500   32    male

[714 rows x 4 columns]

In [73]:
#male = 1, female = 0
d = {'male': 1, 'female': 0}

In [93]:
#X = X[[X.Pclass,X.Fare,X.Age,X['Sex'].map(d)]]
X = X.replace(d)
X

             Pclass      Fare  Age  Sex
PassengerId
1                 3    7.2500   22    1
2                 1   71.2833   38    0
3                 3    7.9250   26    0
4                 1   53.1000   35    0
5                 3    8.0500   35    1
7                 1   51.8625   54    1
8                 3   21.0750    2    1
9                 3   11.1333   27    0
10                2   30.0708   14    0
11                3   16.7000    4    0
12                1   26.5500   58    0
13                3    8.0500   20    1
14                3   31.2750   39    1
15                3    7.8542   14    0
16                2   16.0000   55    0
17                3   29.1250    2    1
19                3   18.0000   31    0
21                2   26.0000   35    1
22                2   13.0000   34    1
23                3    8.0292   15    0
24                1   35.5000   28    1
25                3   21.0750    8    0
26                3   31.3875   38    0
28                1  263.0000   19    1
31                1   27.7208   40    1
34                2   10.5000   66    1
35                1   82.1708   28    1
36                1   52.0000   42    1
38                3    8.0500   21    1
39                3   18.0000   18    0
...             ...       ...  ...  ...
857               1  164.8667   45    0
858               1   26.5500   51    1
859               3   19.2583   24    0
861               3   14.1083   41    1
862               2   11.5000   21    1
863               1   25.9292   48    0
865               2   13.0000   24    1
866               2   13.0000   42    0
867               2   13.8583   27    0
868               1   50.4958   31    1
870               3   11.1333    4    1
871               3    7.8958   26    1
872               1   52.5542   47    0
873               1    5.0000   33    1
874               3    9.0000   47    1
875               2   24.0000   28    0
876               3    7.2250   15    0
877               3    9.8458   20    1
878               3    7.8958   19    1
880               1   83.1583   56    0
881               2   26.0000   25    0
882               3    7.8958   33    1
883               3   10.5167   22    0
884               2   10.5000   28    1
885               3    7.0500   25    1
886               3   29.1250   39    0
887               2   13.0000   27    1
888               1   30.0000   19    0
890               1   30.0000   26    1
891               3    7.7500   32    1

[714 rows x 4 columns]

In [88]:
# help(DecisionTreeClassifier)
clf = DecisionTreeClassifier(random_state = 241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [90]:
importances = clf.feature_importances_
importances

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])

**Ответ:**
Два признака, которые являеются наиболее значимыми для Survived (тех, кто выжил) - это
Fare (Цена билета) и Sex (Пол).